# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/frontend/node_modules
/studio/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/frontend/.next/
/out/
/frontend/out/

# production
/build
/frontend/build
/studio/dist
/studio/.sanity
/studio/backups

# misc
.DS_Store
*.pem
.vscode
.idea/
*.iml

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
frontend/.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# Env files created by scripts for working locally
.env
studio/.env.development
studio/.env.local
