SANITY_STUDIO_PROJECT_ID=s7yacqk1
SANITY_STUDIO_DATASET=production
SANITY_STUDIO_API_VERSION=2024-12-01
SANITY_STUDIO_PREVIEW_URL=http://localhost:3000

# Only used by `npm run deploy --workspace=studio` for Sanity-hosted Studios.
SANITY_STUDIO_HOST=
